.nml-field {
    clear: both;
    margin: 1.5em 0;
    overflow: hidden;

    label {
        display: block;
        font-weight: 600;
    }
}

@media (min-width: 768px) {
    #nml_subscriber_email {
        max-width: 100%;
        width: 703px;
    }

    /* Subscriber first/last name */
    #nml-subscriber-first-name,
    #nml-subscriber-last-name {
        float: left;
    }
}

/* Subscriber Notes */
#nml_subscriber_notes {
    max-width: 703px;
}

/* Right-hand side save box */
#nml-subscriber-status {
    margin-top: 0;
}

#nml-newsletters-page-wrapper,
#nml-subscribers-page-wrapper {
    #major-publishing-actions {
        overflow: hidden;
    }
}