.nml-import-export-form {
    position: relative;

    .nml-progress {
        position: absolute;
        bottom: 15px;
    }

    .notice-wrap {
        background-color: #f4f4f4;
        border-color: #eae9e9;
        border-style: solid;
        border-width: 1px 0;
        margin: 20px -12px -23px;
        padding: 12px 12px 4px;
        overflow: auto;

        .spinner {
            float: right;
            margin: 4px 10px 8px;
        }
    }
}

.nml-progress {
    background: #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
    width: 95%;
    height: 15px;

    div {
        background-color: #ccc;
        height: 100%;
        width: 0;

        .admin-color-fresh & {
            background-color: #0073aa;
        }
        .admin-color-light & {
            background-color: #888;
        }
        .admin-color-blue & {
            background-color: #096484;
        }
        .admin-color-coffee & {
            background-color: #c7a589;
        }
        .admin-color-ectoplasm & {
            background-color: #a3b745;
        }
        .admin-color-midnight & {
            background-color: #e14d43;
        }
        .admin-color-sunrise & {
            background-color: #dd823b;
        }
    }
}

.nml-progress-striped {
    div {
        background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
        background-size: 30px 30px;
    }
}

.nml-progress-animated {
    div {
        -webkit-animation: progress-bar-stripes 2s linear infinite;
        -o-animation: progress-bar-stripes 2s linear infinite;
        animation: progress-bar-stripes 2s linear infinite;
    }
}

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 1rem 0;
    }
    to {
        background-position: 0 0;
    }
}